#app-root {
  max-width: 1000px;
  min-width: 400px;
  height: 40px;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 3fr 1fr 15px;
  font-size: 16px;
}

#result {
  color: #ea580c;
  font-size: 24px;
}