#popup {
  max-width: 1000px;
  min-width: 400px;
}

#app-root {
  max-width: 1000px;
  min-width: 400px;
  height: 10px;
  padding: 5px;
  display: flex;
  font-size: 16px;
  justify-content: space-between;
  align-items: center;
}

#popup span {
  font-size: 24px;
  padding: 10px;
}