node_modules
build
images
server_build
db/scripts
tailwind.config.js
storybook-static
package.json
coverage
packages/browser-extension/dist
packages/browser-extension/node_modules
packages/browser-extension/tmp