[defaults]
inventory = inventory.ini
host_key_checking = True
remote_user = deploy
roles_path = roles
retry_files_enabled = False
interpreter_python = auto_silent

[privilege_escalation]
become = False
become_method = sudo
become_ask_pass = False

[ssh_connection]
pipelining = True
