@import 'tailwindcss';

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:is(.dark *));

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 980px;

  --font-sans:
    Inter var, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility bg-primary {
  @apply bg-white dark:bg-neutral-900;
}

@utility bg-secondary {
  @apply bg-gray-100 dark:bg-gray-800;
}

@utility bg-alt {
  @apply bg-gray-200 dark:bg-gray-700;
}

@utility bg-inverse {
  @apply bg-black dark:bg-white;
}

@utility border-primary {
  @apply border-gray-900 dark:border-white;
}

@utility border-secondary {
  @apply border-gray-200 dark:border-gray-600;
}

@utility text-color-primary {
  @apply text-black dark:text-white;
}

@utility text-color-secondary {
  @apply text-gray-500 dark:text-gray-200;
}

@utility text-color-inverse {
  @apply text-white dark:text-black;
}

@utility post-row-container {
  @apply flex flex-col justify-start space-y-4;
}

@utility post-row {
  @apply flex sm:flex-nowrap sm:space-x-2.5;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  @apply bg-primary;
}

body {
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
