@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .focus-ring {
    @apply ring-team-current focus-within:ring-team-current hover:ring-team-current focus:ring-team-current group-hover:ring-team-current group-focus:ring-team-current ring-offset-4 ring-offset-white transition duration-300 focus-within:outline-none focus-within:ring-2 hover:ring-2 focus:outline-none focus:ring-2 disabled:ring-0 group-hover:ring-2 group-focus:ring-2 dark:ring-offset-gray-900;
  }

  .focus-ring.danger {
    @apply ring-red-500 focus-within:ring-red-500 hover:ring-red-500 focus:ring-red-500 group-hover:ring-red-500 group-focus:ring-red-500 dark:focus-within:ring-red-500 dark:hover:ring-red-500 dark:focus:ring-red-500 dark:group-hover:ring-red-500 group-focus:dark:ring-red-500;
  }

  .bg-primary {
    @apply bg-white dark:bg-neutral-900;
  }

  .bg-secondary {
    @apply bg-gray-100 dark:bg-gray-800;
  }

  .bg-alt {
    @apply bg-gray-200 dark:bg-gray-700;
  }

  .bg-inverse {
    @apply bg-black dark:bg-white;
  }

  .border-primary {
    @apply border-gray-900 dark:border-white;
  }

  .border-secondary {
    @apply border-gray-200 dark:border-gray-600;
  }

  .text-color-primary {
    @apply text-black dark:text-white;
  }

  .text-color-secondary {
    @apply text-gray-500 dark:text-gray-200;
  }

  .text-color-inverse {
    @apply text-white dark:text-black;
  }

  .post-row-container {
    @apply flex flex-col justify-start space-y-4;
  }

  .post-row {
    @apply flex sm:flex-nowrap sm:space-x-2.5;
  }
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
