name: Playwright Admin Tests
on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:8.1
        ports:
          - '3306:3306'
        options: >-
          --health-cmd="mysqladmin ping --silent"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=3
        env:
          MYSQL_ROOT_PASSWORD: rootpass
          MYSQL_DATABASE: digital
          MYSQL_PASSWORD: password
        volumes:
          - ./my.cnf:/etc/mysql/conf.d/my.cnf

    steps:
      - uses: actions/checkout@v4
      - name: Install build dependencies
        run: sudo apt-get update && sudo apt-get install -y build-essential python3
      - uses: ./.github/actions/prepare
      - name: Create .env file
        run: cp .env.e2e .env
      - name: Explicitly rebuild bcrypt
        run: pnpm rebuild bcrypt
      - name: install Playwright browsers
        run: pnpm exec playwright install
      - name: Build Frontend App
        run: pnpm build:e2e
      - name: Apply DB schema
        run: pnpm prisma migrate dev
      - name: Run Playwright tests
        run: pnpm exec playwright test admin.spec.ts
      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
