name: Test
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: szenius/set-timezone@v1.2
        with:
          timezoneLinux: 'Asia/Tokyo'
      - uses: ./.github/actions/prepare
      - uses: actions/checkout@v3
      - name: Test
        run: pnpm test
